%nav.navbar.navbar-inverse(role="navigation")
  %section.navbar-header
    %h3= link_to "Bug Archive", root_path
  - if current_user
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Home", root_path
      %li= link_to "New", new_bug_path
      %li= link_to "Concepts", concepts_path
      %li.dropdown 
        %a.dropdown-toggle(data-toggle="dropdown" role="button" href="#") Categories
        %ul(class="dropdown-menu" role="menu")
          - @categories.each do |category|
            %li= link_to category.name, category_path(category.id)
      %li= link_to "Logout", logout_path
    %ul.nav.navbar-nav.navbar-right
      = form_tag search_bugs_path, class: "navbar-form" do
        %input.form-control(type="text" placeholder="Search for bugs" name="search_term") 
        %input.btn.btn-info(type="submit" value="Search")
  - else
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Register", new_user_path
      %li= link_to "Login", login_path
      %li= link_to "Home", root_path



    