/ %section#maintitle
/   %h1= link_to "Bug Archive", root_path
%nav.top-bar(data-topbar)
  %ul.title-area
    %li.name
      %h1= link_to "Bug Archive", root_path
  %section.top-bar-section
    - if current_user
      %ul.right
        = form_tag search_bugs_path do
          %li.has-form
            %input(type="text" placeholder="Search for bugs" name="search_term") 
          %li
            %input.button(type="submit" value="Search")
          %li= link_to "New", new_bug_path
          %li= link_to "Home", root_path
          %li.has-dropdown 
            %a Categories
            %ul.dropdown
              - @categories.each do |category|
                %li= link_to category.name, category_path(category.id)
          %li= link_to "Logout", logout_path
    - else
      %ul.right
        %li= link_to "Register", new_user_path
        %li= link_to "Login", login_path
        %li= link_to "Home", root_path

%section#spacer
  = image_tag "bug_spacer1.jpg"

%section#band


    