%section.container
  %section.jumbotron
    %header
      %h2 Your bug in detail
    %section
      %table.table-striped.table-bordered
        %thead
          %tr 
            %th Bug name
            %th Category
            %th Description
            %th Error message
            %th Environment
            %th Actions
        %tbody
          %tr
            %td= @bug.name
            %td= @bug.category.name
            %td= @bug.description
            %td= @bug.message
            %td= @bug.environment
            %td
              = link_to "Edit", edit_bug_path(@bug)
              = link_to "Delete", bug_path(@bug), method: :delete, confirm: "Are you sure?"

      %br
      - if @bug.listings.any?
        %h4 Related Bug code:
        %div
          - @bug.listings.each do |listing|
            = listing.filename
            %pre.prettyprint= listing.snippet
          %br
      %a(href="/bugs/#{@bug.id}/listings/new" class="btn btn-warning") New code listing
      %br  
      %br
      - if @bug.solutions.any?
        %h2 Your solutions
        %table.table-striped.table-bordered
          %tr 
            %th Solution
            %th Explanation
            %th Related Link
            %th Actions
          - @bug.solutions.each do |s|   
            %tr
              %td= s.solution
              %td= s.explanation
              %td= link_to "#{s.related_links}", s.related_links
              %td
                = link_to "Edit", edit_bug_solution_path(bug_id: @bug.id, id: s.id)
                = link_to "Delete", bug_solution_path(bug_id: @bug.id, id: s.id), method: :delete, confirm: "Are you sure?"
      %br
      %a(href="/bugs/#{@bug.id}/solutions/new" class="btn btn-warning") New solution

      