%header
  %h1 Your bug in detail
%container
  %table.large-6
    %thead
      %tr 
        %th Bug name
        %th Category
        %th Description
        %th Error message
        %th Environment
    %tbody
      %tr
        %td= @bug.name
        %td= @bug.category.name
        %td= @bug.description
        %td= @bug.message
        %td= @bug.environment
  %br
  - if @bug.solutions.any?
    %h1 Your solutions:
    %table.large-6
      %thead
        %tr 
          %th Solution number
          %th Solution text
          %th Explanation
          %th Related links
      %tbody    
        - @bug.solutions.each_with_index do |s, i|
          %tr
            %td= i + 1
            %td= s.solution
            %td= s.explanation
            %td= s.related_links
  %br
  %a(href="/bugs/#{@bug.id}/solutions/new" class="button") Add solution
    