%section
  = form_for [@bug, @solution] do |f|
    %br
    %section.formspace
      .form-group
        = f.label :solution, class: "control-label"
        = f.text_area :solution, rows: 4, class: "form-control"
      .form-group
        = f.label :explanation, class: "control-label"
        = f.text_area :explanation, rows: 6, class: "form-control"
      .form-group
        = f.label :related_links, class: "control-label"
        = f.text_area :related_links, rows: 2, class: "form-control"
      .form-group
        = f.submit(@solution.new_record? ? "Add solution" : "Update solution", class: "btn btn-success")
      