!!! 5
%html
  %head
    %title BugArchive

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags 
      
    %script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    %link(href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css')

  %body
    %header
      = render 'shared/header'
    %section.main
      = render 'shared/messages'
      = yield 
   