!!! 5
%html
  %head
    %title BugArchive

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags 
      
    %script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")

  %body
    %header
      = render 'shared/header'
    %section.main
      = render 'shared/messages'
      = yield 
   
